$secondary: #6c757d !default;

:not(.meta-template-container) > .multi-metafield-container {
    position: relative;

    & > .multi-metafield-input-container::before {
        transform: translateX(calc(1.5rem * -.5 - 0.25rem - 2px));
        border-style: solid;
        border-color: $secondary;
        position: absolute;
        content: ' ';
        width: 0.5rem;
        height: 100%;
        border-width: 0px 2px 0px 0px;
    }

    &:first-child > .multi-metafield-input-container::before {
        border-width: 2px 0px 0px 2px;
        border-top-left-radius: 3px;
        transform: translate(calc(1.5rem * -.5), -20px);
    }
    @include media-breakpoint-up(sm) {
        &:first-child > .multi-metafield-input-container::before {
            height: calc(100% - 10px);
            transform: translate(calc(1.5rem  * -.5 - 0.25rem - 2px), 20px);
            border-top-left-radius: 0px;
            border-top-right-radius: 3px;
            border-width: 2px 2px 0px 0px;
        }
    }

    &:last-child > .multi-metafield-input-container::before {
        transform: translateX(calc(1.5rem * -.5));
        border-bottom-left-radius: 3px;
        height: 50%;
        border-width: 0px 0px 2px 2px;
    }
}



