:root {
    --cerebrate-color: #924da6;
}

.pagination li.page-item > a.page-link > .ellipsis {
    line-height: 12px;
    vertical-align: top;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

.black {
    color:black;
}

/* .sidebar {}

.side-bar-ul {
    top: 70px;
    left:0;
    margin: 0;
    padding: 0;
    list-style: none;
}

.side-bar-ul li {
    line-height: 40px;
}

.side-bar-ul .sidebar-header {
    padding-left: 10px;
    color: black;
}

.side-bar-ul .sidebar-element {
    padding-left: 20px;
}

.side-bar-ul li a {
    display: block;
    text-decoration: none;
}

.sidebar-header a {
    color: black;
}

.sidebar-element a {
    color: #999999;
}

.side-bar-ul li a:hover {
    text-decoration: none;
    color: #fff;
}

.side-bar-ul li:hover {
    background: #007bff;
}

.side-bar-ul .active {
    background: #007bff;
}

.side-bar-ul .active a {
    color: white !important;
}

.side-bar-ul li a:active, .side-bar-ul li a:focus {
    text-decoration: none;
}

.side-bar-ul>.sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.side-bar-ul>.sidebar-brand a {
    color: #999999;
}

.side-bar-ul>.sidebar-brand a:hover {
    color: #fff;
    background: none;
} */

@media(min-width:768px) {
    #wrapper {
        padding-left: 0;
    }
    #wrapper.toggled {
        padding-left: 250px;
    }
    #sidebar-wrapper {
        width: 0;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }
    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

.text-black {color:black;}
.text-white {color:white;}

.lh-1 {
    line-height: 1;
}
.lh-2 {
    line-height: 1.5;
}

.link-unstyled, .link-unstyled:link, .link-unstyled:hover {
  color: inherit;
  text-decoration: inherit;
}

.btn-group > .btn:last-of-type:not(.dropdown-toggle), .btn-group > .btn-group:not(:last-of-type) > .btn {
    border-top-right-radius: 0.2rem;
}

.btn-group > div > .btn:not(:last-child):not(.dropdown-toggle), .btn-group > .btn-group:not(:last-child) > div > .btn {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.topbar-contextual-filter button.btn:not(:first-child) {
    border-left: 1px solid #77777733;
}

input[type="checkbox"].change-cursor {
    cursor: pointer;
}

input[type="checkbox"]:disabled.change-cursor {
    cursor: not-allowed;
}

.topbar-contextual-filter button.btn {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.select2-selection__choice { /* Our app do not have the same font size */
    padding-left: 1.5em !important;
}
.picker-container .select2-selection {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.picker-container .picker-action .btn:first-child {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.select2-container {
    /* z-index: 1060; */
    z-index: 1038;
}

.grow-on-hover {
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0, 0.90, 0.35, 1.00);
    -moz-transition: -moz-transform 0.5s cubic-bezier(0, 0.90, 0.35, 1.00);
    transition: all .2s cubic-bezier(0, 0.90, 0.35, 1.00);
}

.grow-on-hover:hover {
    -webkit-transform: translateZ(0) scale(1.03, 1.03);
    -moz-transform: translateZ(0) scale(1.03, 1.03);
    transform: translateZ(0) scale(1.03, 1.03);
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
}