:root {
    --cerebrate-color: #924da6;
}

.pagination li.page-item > a.page-link > .ellipsis {
    line-height: 12px;
    vertical-align: top;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

.black {
    color:black;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 0;
    }
    #wrapper.toggled {
        padding-left: 250px;
    }
    #sidebar-wrapper {
        width: 0;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }
    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

.text-black {color:black;}
.text-white {color:white;}

.lh-1 {
    line-height: 1;
}
.lh-2 {
    line-height: 1.5;
}

.link-unstyled, .link-unstyled:link, .link-unstyled:hover {
  color: inherit;
  text-decoration: inherit;
}

.btn-group > .btn:last-of-type:not(.dropdown-toggle), .btn-group > .btn-group:not(:last-of-type) > .btn {
    border-top-right-radius: 0.2rem;
}

.btn-group > div > .btn:not(:last-child):not(.dropdown-toggle), .btn-group > .btn-group:not(:last-child) > div > .btn {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.topbar-contextual-filter button.btn:not(:first-child) {
    border-left: 1px solid #77777733;
}

input[type="checkbox"].change-cursor {
    cursor: pointer;
}

input[type="checkbox"]:disabled.change-cursor {
    cursor: not-allowed;
}

.topbar-contextual-filter button.btn {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.select2-container {
    z-index: 1056;
}

.select2-container--bootstrap-5 {
    color: var(--bs-body-color);
}

.grow-on-hover {
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0, 0.90, 0.35, 1.00);
    -moz-transition: -moz-transform 0.5s cubic-bezier(0, 0.90, 0.35, 1.00);
    transition: all .2s cubic-bezier(0, 0.90, 0.35, 1.00);
}

.grow-on-hover:hover {
    -webkit-transform: translateZ(0) scale(1.03, 1.03);
    -moz-transform: translateZ(0) scale(1.03, 1.03);
    transform: translateZ(0) scale(1.03, 1.03);
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
}

.settings-group.to-be-slided {
    opacity: 0;
    transform: translateX(-15%);
    -webkit-transform: translateX(-15%);
}

.settings-group.to-be-slided.slide-in {
    animation: slide-in 0.2s forwards;
    animation-delay: 0.1s;
    -webkit-animation: slide-in 0.2s forwards;
    -webkit-animation-delay: 0.1s;
}

@keyframes slide-in {
    50% { opacity: 0.3; }
    100% { transform: translateX(0%); opacity: 1; }
}