/* Callout */
.callout {
  border: 1px solid #e9ecef;
  border-radius: .25rem;
  background-color: #fff;
  box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.25); }

.callout-primary {
  border-left-color: #0d6efd;
  border-left-width: .25rem;
  border-left-style: solid; }

.callout-secondary {
  border-left-color: #6c757d;
  border-left-width: .25rem;
  border-left-style: solid; }

.callout-success {
  border-left-color: #198754;
  border-left-width: .25rem;
  border-left-style: solid; }

.callout-info {
  border-left-color: #0dcaf0;
  border-left-width: .25rem;
  border-left-style: solid; }

.callout-warning {
  border-left-color: #ffc107;
  border-left-width: .25rem;
  border-left-style: solid; }

.callout-danger {
  border-left-color: #dc3545;
  border-left-width: .25rem;
  border-left-style: solid; }

.callout-light {
  border-left-color: #f8f9fa;
  border-left-width: .25rem;
  border-left-style: solid; }

.callout-dark {
  border-left-color: #212529;
  border-left-width: .25rem;
  border-left-style: solid; }

/* Toasts */
.toast {
  min-width: 250px; }

.toast-primary {
  color: #04214c;
  background-color: #b6d4fe;
  border-color: #9ec5fe; }
  .toast-primary strong {
    border-top-color: #85b6fe; }

.toast-secondary {
  color: #202326;
  background-color: #d3d6d8;
  border-color: #c4c8cb; }
  .toast-secondary strong {
    border-top-color: #b6bbbf; }

.toast-success {
  color: #082919;
  background-color: #badbcc;
  border-color: #a3cfbb; }
  .toast-success strong {
    border-top-color: #92c6af; }

.toast-info {
  color: #043d48;
  background-color: #b6effb;
  border-color: #9eeaf9; }
  .toast-info strong {
    border-top-color: #86e5f8; }

.toast-warning {
  color: #4d3a02;
  background-color: #ffecb5;
  border-color: #ffe69c; }
  .toast-warning strong {
    border-top-color: #ffe083; }

.toast-danger {
  color: #421015;
  background-color: #f5c2c7;
  border-color: #f1aeb5; }
  .toast-danger strong {
    border-top-color: #ed98a1; }

.toast-light {
  color: #4a4b4b;
  background-color: #fdfdfe;
  border-color: #fcfdfd; }
  .toast-light strong {
    border-top-color: #edf3f3; }

.toast-dark {
  color: #0a0b0c;
  background-color: #bcbebf;
  border-color: #a6a8a9; }
  .toast-dark strong {
    border-top-color: #999b9c; }

/* Dropdown-item */
.dropdown-item.dropdown-item-primary {
  color: #fff;
  text-decoration: none;
  background-color: #0d6efd; }

.dropdown-item.dropdown-item-outline-primary:hover {
  color: #fff;
  background-color: #0d6efd; }

.dropdown-item.dropdown-item-secondary {
  color: #fff;
  text-decoration: none;
  background-color: #6c757d; }

.dropdown-item.dropdown-item-outline-secondary:hover {
  color: #fff;
  background-color: #6c757d; }

.dropdown-item.dropdown-item-success {
  color: #fff;
  text-decoration: none;
  background-color: #198754; }

.dropdown-item.dropdown-item-outline-success:hover {
  color: #fff;
  background-color: #198754; }

.dropdown-item.dropdown-item-info {
  color: #000;
  text-decoration: none;
  background-color: #0dcaf0; }

.dropdown-item.dropdown-item-outline-info:hover {
  color: #000;
  background-color: #0dcaf0; }

.dropdown-item.dropdown-item-warning {
  color: #000;
  text-decoration: none;
  background-color: #ffc107; }

.dropdown-item.dropdown-item-outline-warning:hover {
  color: #000;
  background-color: #ffc107; }

.dropdown-item.dropdown-item-danger {
  color: #fff;
  text-decoration: none;
  background-color: #dc3545; }

.dropdown-item.dropdown-item-outline-danger:hover {
  color: #fff;
  background-color: #dc3545; }

.dropdown-item.dropdown-item-light {
  color: #000;
  text-decoration: none;
  background-color: #f8f9fa; }

.dropdown-item.dropdown-item-outline-light:hover {
  color: #000;
  background-color: #f8f9fa; }

.dropdown-item.dropdown-item-dark {
  color: #fff;
  text-decoration: none;
  background-color: #212529; }

.dropdown-item.dropdown-item-outline-dark:hover {
  color: #fff;
  background-color: #212529; }

/* Progress Timeline */
.progress-timeline {
  padding: 0.2em 0.2em 0.5em 0.2em; }
  .progress-timeline ul {
    position: relative;
    padding: 0; }
  .progress-timeline li {
    list-style-type: none;
    position: relative; }
  .progress-timeline li.progress-inactive {
    opacity: 0.5; }
  .progress-timeline .progress-line {
    height: 2px; }
  .progress-timeline .progress-line.progress-inactive {
    opacity: 0.5; }

/* Forms severity */
.form-control.is-invalid.info {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%230dcaf0' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%230dcaf0' stroke='none'/%3e%3c/svg%3e"); }
  .form-control.is-invalid.info:focus {
    border-color: #0dcaf0;
    box-shadow: 0 0 0 0.25rem rgba(13, 202, 240, 0.25); }

.form-control.is-invalid.warning {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23ffc107' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23ffc107' stroke='none'/%3e%3c/svg%3e"); }
  .form-control.is-invalid.warning:focus {
    border-color: #ffc107;
    box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.25); }

.form-select.is-invalid:not([multiple]):not([size]).info,
.form-select.is-invalid:not([multiple])[size="1"]
.form-select.is-invalid.info {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%230dcaf0'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%230dcaf0' stroke='none'/%3e%3c/svg%3e");
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem); }
  .form-select.is-invalid:not([multiple]):not([size]).info:focus,
  .form-select.is-invalid:not([multiple])[size="1"]
.form-select.is-invalid.info:focus {
    box-shadow: 0 0 0 0.25rem rgba(13, 202, 240, 0.25); }

.form-select.is-invalid:not([multiple]):not([size]).warning,
.form-select.is-invalid:not([multiple])[size="1"]
.form-select.is-invalid.warning {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23ffc107'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23ffc107' stroke='none'/%3e%3c/svg%3e");
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem); }
  .form-select.is-invalid:not([multiple]):not([size]).warning:focus,
  .form-select.is-invalid:not([multiple])[size="1"]
.form-select.is-invalid.warning:focus {
    box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.25); }

.form-check-input.is-invalid.info {
  border-color: #0dcaf0; }

.form-check-input.is-invalid.info:checked {
  background-color: #0dcaf0; }

.form-check-input.is-invalid.info ~ .form-check-label {
  color: unset; }

.form-check-input.is-invalid.info:focus {
  box-shadow: 0 0 0 0.2rem rgba(13, 202, 240, 0.25); }

.form-check-input.is-invalid.warning {
  border-color: #ffc107; }

.form-check-input.is-invalid.warning:checked {
  background-color: #ffc107; }

.form-check-input.is-invalid.warning ~ .form-check-label {
  color: unset; }

.form-check-input.is-invalid.warning:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.25); }

/* Utilities */
.mw-75 {
  max-width: 75% !important; }

.mw-50 {
  max-width: 50% !important; }

.mw-25 {
  max-width: 25% !important; }

.mh-75 {
  max-height: 75% !important; }

.mh-50 {
  max-height: 50% !important; }

.mh-25 {
  max-height: 25% !important; }

.p-abs-center-y {
  top: 50%;
  transform: translateY(-50%); }

.p-abs-center-x {
  left: 50%;
  transform: translateX(-50%); }

.p-abs-center-both {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%); }

/* Body */
.panel {
  background-color: #fff;
  border: none;
  box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.25); }

.loading-overlay {
  background-color: #f8f9fa;
  opacity: 0.75; }

/* Top navbar */
.top-navbar {
  background-color: #212529; }

.center-navbar nav.header-breadcrumb {
  color: #fff; }

header.top-navbar .header-menu > a:hover,
header.top-navbar .header-breadcrumb .header-breadcrumb-item > a:hover {
  color: #d6d6d6 !important; }

.top-navbar .center-navbar nav.header-breadcrumb li.header-breadcrumb-item a {
  color: #fff; }

.top-navbar .right-navbar .header-menu a.nav-link {
  color: #fff; }

.top-navbar .left-navbar .navbar-brand img {
  filter: invert(1); }

.top-navbar .left-navbar .navbar-brand:hover img {
  filter: invert(1) drop-shadow(0px 0px 3px #fff); }

.top-navbar .composed-app-icon-container > .app-icon {
  background-color: #fff; }

.breadcrumb-link-container {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 2px 6px 0 rgba(0, 0, 0, 0.12);
  background-color: #f8f9fa; }

/* Sidebar */
.sidebar {
  transition: width .08s linear;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 2px 6px 0 rgba(0, 0, 0, 0.12);
  background-color: #f8f9fa; }

.sidebar ~ main.content:after {
  background: #000; }

.sidebar .sidebar-wrapper {
  border-right: 1px solid #ddd; }

.sidebar .sidebar-wrapper {
  border-right: 1px solid rgba(0, 0, 0, 0.125); }

.sidebar ul.sidebar-elements li > a.sidebar-link {
  color: #000; }

.sidebar ul.sidebar-elements li > a.sidebar-link.active {
  background-color: #dbdbdb;
  color: #000; }

.sidebar ul.sidebar-elements li > a.sidebar-link.have-active-child {
  background-color: #dbdbdb;
  color: #000; }

.sidebar ul.sidebar-elements li > a.sidebar-link:hover {
  background-color: #ebebeb;
  color: #000; }

.sidebar.expanded ul.sidebar-elements li > a.sidebar-link.have-active-child,
.sidebar:hover ul.sidebar-elements li > a.sidebar-link.have-active-child {
  background-color: unset; }

.sidebar.expanded ul.sidebar-elements li > a.sidebar-link.have-active-child:hover,
.sidebar:hover ul.sidebar-elements li > a.sidebar-link.have-active-child:hover {
  background-color: #ebebeb; }

ul.sidebar-elements li > a.sidebar-link.active::after {
  background-color: var(--cerebrate-color); }

.lock-sidebar > a.btn {
  background-color: #f8f9fa; }
